@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}

@layer utilities {
  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}