@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0052CC;
  --color-error: #D32F2F;
  --color-warning: #FFA000;
  --color-success: #388E3C;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
}