@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0052CC;
  --color-success: #36B37E;
  --color-error: #FF5630;
  --color-warning: #FFAB00;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}